/*Constants*/
/*Text*/
.body__background {
  background-color: black; }

.card__background {
  background-color: black;
  color: lightgray; }

.card__body__btn {
  transition-duration: 0.4s; }

.card__body__btn:hover {
  background-color: #4285F4;
  color: white; }

.title {
  color: #C7B58A; }

img {
  opacity: 0.86; }

a {
  text-decoration: none;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif; }

@media only screen and (min-width: 1200px) {
  .card__body__img {
    padding: 100px; }
  .card__spacing {
    padding-right: 100px;
    padding-left: 100px; }
  .card__margin {
    margin-top: 0px;
    margin-bottom: 0px; } }
